.home-container {
    margin-top: 40px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;;
    
    .home-title {
      width: 1024px;
      font-size: 20px;
      color:rgb(118, 62, 170);
    }
  }
  

  