
.custom-toast {
  background-color:rgb(118, 62, 170);
  color: #ffffff;
}

.toast-container {
  width: 300px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.toast-container .Toastify__toast {
  margin-bottom: 10px;
}

.toast-container .Toastify__toast--error {
  background-color:rgb(177, 117, 232);
  color: #fff;
  font-size: large;
}

.toast-container .Toastify__toast--success {
  background-color: #52c41a;
  color: #fff;
}

.toast-container .Toastify__toast-body {
  font-size: 16px;
}
//-----------------

.custom-toast .Toastify__progress-bar {
  background-color: #ffca28; /* Цвет фона прогресс-бара */
  height: 10px; /* Высота прогресс-бара */
}

// .custom-toast .Toastify__progress-bar--animated {
//   animation: Toastify__progress-bar-animation 1s linear infinite; /* Анимация прогресс-бара */
// }

// @keyframes Toastify__progress-bar-animation {
//   0% {
//     width: 0; /* Начальная ширина прогресс-бара */
//   }
//   100% {
//     width: 100%; /* Конечная ширина прогресс-бара (100% - полная ширина) */
//   }
// }






