@import  "../../../../client/src/style/myColors.scss";

.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 12px;
  margin: 0;

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;

    &>a {
      margin-right: 10px;
    }
  }

  &__icon {
    height: 40px;
    width: 40px;
    color: $primary-color;

    &:hover {
      color: #70706e;
    }
  }

  &__text {
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
  }
}