.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .input-filled {
    color: white;
  }

  .single__left,
  .chart,
  .featured,
  .widget,
  .single__bottom {
    box-shadow: 1px 2px 5px 1px rgba(236, 230, 230, 0.47);
  }

  .table {
    background-color: #111;

    .table-cell {
      color: gray;
    }

    .status.Approved {
      box-shadow: 2px 2px 6px 1px white;
      padding-right: 15px;
      padding-left: 15px;
    }

    .status.Pending {
      box-shadow: 2px 2px 6px 1px white;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }

    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: white;
        }
      }
    }
  }

  .data-table {
    .data-grid {
      color: gray;

      .cellWithStatus {
        color: gray;
      }

      .view-button,
      .delete-button,
      .update-button {
        border: 1px solid white;
        padding-left: 15px;
        padding-right: 15px;
      }

      .view-button {
        color: white;
        border: 1px solid white;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  input {
    background-color: transparent;
  }
}