@import "../../../../client/src/style/myColors.scss";

.promotion {
    width: 100%;
    margin-top: 40px;
    background: $primary-color;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
  
    &__title {
      font-size: 24px;
      font-weight: bold;
    }
  
    &__desc {
      font-size: 18px;
      font-weight: 400;
    }  
  }
  