@import "../../../../../client/src/style/myColors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-body {
  background: linear-gradient(130deg, $primary-color, $gradient-end-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login {
  max-width: 1000px;
  background-color: rgb(194, 176, 209);
  padding: 25px 30px;
  border-radius: 5px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input {
    margin-top: 20px;
    width: 100%;
    height: 40px;
  }

  &__title {
    color: black;
    justify-content: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 30px;
      background: linear-gradient(130deg, $primary-color, $gradient-end-color);
    }
  }

  &__button {
    border: none;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px $box-shadow-color;

    &:hover {
      background-color: $color-hover;
      transform: scale(1.05);
    }

    &:disabled {
      background-color: $disabled-button-color;
      cursor: not-allowed;
    }
  }
}